#ContactForm {
  width: 50vw;
  display: grid;
  grid-gap: 10px;
  text-align: center;
}

#ContactForm h1 {
  margin: 0;
  font-weight: 400;
  color: #696969;
}

#ContactPageButton {
  background-color: #ee5f20;
  color: white;
  width: 40%;
}

@media screen and (max-width: 768px) {
  #ContactForm {
    width: 80vw;
  }
}

@media screen and (max-width: 480px) {
  #ContactPageButton {
    width: 70%;
  }
}
